<!--    Nav bar-->

<nav class = "nav-wrap">
<a href="{{ site.baseurl }}/" class="nav-logo {% if page.url == '/' %}nav-dark{%endif%}">
<img class ="logo-img" src="{{ site.baseurl }}/assets/img/logo_jeremie_v2.png" alt= "Logo">
</a>
<!-- Unordered list-->
<ul class="navigation {% if page.url == '/' %}nav-dark{%endif%}">
    <li> 
        <a href="{{ site.baseurl }}/">Home</a>

    </li>
    <li>
        <a href="{{ site.baseurl }}/case-studies"> Case studies</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/blog">Blog</a>
    </li>

</ul>
</nav>